.header {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #000000;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #000000;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  padding-left: 2rem;
}

.sweet-title {
  order: 2;
  color: #000000;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #3fa56d, 2px 2px 1px #022313, 4px 2px 1px #4aff80,
    3px 3px 1px #022313, 5px 3px 1px #4aff80, 4px 4px 1px #022313,
    6px 4px 1px #4aff80, 5px 5px 1px #022313, 7px 5px 1px #4aff80,
    6px 6px 1px #022313, 8px 6px 1px #4aff80, 7px 7px 1px #022313,
    9px 7px 1px #4aff80;

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #0f8821, -1px -1px 1px #1f570b,
        -2px 2px 1px #4ae962, 1px -1px 1px #36f93d;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}
