@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #F3F3F3;
  background: linear-gradient(0deg, #0A0A0B 0%, #0A0A0B 100%);
  font-family:var(--font-saira), monospace;
}

.saira {
  font-family: var(--font-saira);
}

.spaceMono {
  font-family: var(--font-spaceMono);
}


progress::-webkit-progress-bar {
  background-color: #3D3D3D;
}
progress::-webkit-progress-value {
  background-color: #F0F0F0;
}
#navbar-bottom{
  border-bottom: 0.2px solid #333333;
}

#navbar-logo{
  border-right: 0.3px dashed #333333;
}

#navbar-action{
  border-left: 0.3px dashed #333333;
}

#navbar-menubar{
  border-bottom: 0.3px dashed #333333;
}

#navbar-top-border{
  border-top: 0.3px dashed #333333;
}


.marquee {
  animation: marquee 3s linear infinite;
}

.marquee2 {
  animation: marquee2 5s linear infinite;
  position: absolute;
  top: 0;
}
